<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</head>

<body class=container>
    <div class="topnav" id=myNavbar>
        <!--Meter esto en un html aparte*-->
        <a href='/pizza'>Pizza</a>
        <a href='/'>Home</a>
    </div>
    <h1>Pizzas</h1>
    <form class="container">
            <div class="form-group">
                    <label class="col-md-4 control-label" for="btn1"></label>
                    <div class="col-md-8">
                        <button id="btn2" name="btn2" class="btn btn-info"  formaction="/createPizza" formmethod="get">Crear pizza</button>
                    </div>
            </div>
    </form>





</body>

</html>